.add-new-offer2{
    background: #fbfbfb;
    .add-prodect {
        h2{
            color: $colorh2;
        }
        width: 65%;
        margin: 20px auto;
        padding: 20px;
        border-radius: 20px;
        @media (max-width:480px) {
            width: 95%;
        }
    .container{
        background-color: #fff;
        padding: 20px;

    }
        .form-control{
            border: none;
            min-height: 4rem;
            border-radius: 20px;
            font-size: 20px;
          
        }
    
        .img-input{
             .img {
                width: 100px;
                overflow: hidden;
                margin: 15px auto;
                position: relative;
                height: 60px;
                cursor: pointer;
                transform: scale(1.3);
                input {
                    width: 100px;
                    height: 60px;
                    opacity: 0;
                    z-index: 1;
                    cursor: pointer;
                }
                img {
                    position: absolute;
                    width: 100%;
                    z-index: 0;
                }
                &:hover{
                    transform: scale(1.5);
                    transition: 2s;
                    box-shadow: 1px 1px 10px 0px #000;

                }
            }
            
    
        }
     .form-group {
        margin-bottom: 2rem;
    } 
    form{
        button{
            // margin:;
            min-height: 3rem;
            font-size: 25px;
            width: 13rem;
            border-radius: 35px;
            border: none;
            background: #cc314c;
            color: #fff;
            border-radius: 20px;
        }
    
        }
    }
}
